src/main/resources/eiam/nevisidm_adminservice_v1_43.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions name="AdminService_v1_43"
	targetNamespace="http://adnovum.ch/nevisidm/ws/services/v1_43"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sns="http://adnovum.ch/nevisidm/ws/services/v1_43"
	xmlns:tns="http://adnovum.ch/nevisidm/ws/services/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <types>
    <xsd:schema>
      <xsd:import namespace="http://adnovum.ch/nevisidm/ws/services/v1" schemaLocation="nevisidm_servicetypes_v1_43.xsd"/>
    </xsd:schema>

    <!-- dummy to have at least one type in the wsdl namespace (otherwise JAX-WS tools won't generate a package-info structure) -->
    <xsd:schema targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/wsdl">
      <xsd:complexType name="DummyTypeAdmin">
        <xsd:sequence>
          <xsd:element name="DummyElementAdmin" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <!-- faults -->

  <message name="BusinessException">
    <part name="fault" element="tns:BusinessException"/>
  </message>
  <message name="TechnicalException">
    <part name="fault" element="tns:TechnicalException"/>
  </message>

  <!-- user administration (read/write) -->

  <message name="createUser">
    <part name="parameters" element="tns:createUser"/>
  </message>
  <message name="createUserResponse">
    <part name="parameters" element="tns:createUserResponse"/>
  </message>
  <message name="createUserWithProfile">
    <part name="parameters" element="tns:createUserWithProfile"/>
  </message>
  <message name="createUserWithProfileResponse">
    <part name="parameters" element="tns:createUserWithProfileResponse"/>
  </message>
  <message name="createUserWithCredentials">
    <part name="parameters" element="tns:createUserWithCredentials"/>
  </message>
  <message name="createUserWithCredentialsResponse">
    <part name="parameters" element="tns:createUserWithCredentialsResponse"/>
  </message>
  <message name="createUserWithProfileAndCredentials">
    <part name="parameters" element="tns:createUserWithProfileAndCredentials"/>
  </message>
  <message name="createUserWithProfileAndCredentialsResponse">
    <part name="parameters" element="tns:createUserWithProfileAndCredentialsResponse"/>
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser"/>
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse"/>
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser"/>
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse"/>
  </message>

  <!-- profile administration (read/write) -->

  <message name="createProfile">
    <part name="parameters" element="tns:createProfile"/>
  </message>
  <message name="createProfileResponse">
    <part name="parameters" element="tns:createProfileResponse"/>
  </message>
  <message name="updateProfile">
    <part name="parameters" element="tns:updateProfile"/>
  </message>
  <message name="updateProfileResponse">
    <part name="parameters" element="tns:updateProfileResponse"/>
  </message>
  <message name="deleteProfile">
    <part name="parameters" element="tns:deleteProfile"/>
  </message>
  <message name="deleteProfileResponse">
    <part name="parameters" element="tns:deleteProfileResponse"/>
  </message>
  <message name="addAuthorizationToProfile">
    <part name="parameters" element="tns:addAuthorizationToProfile"/>
  </message>
  <message name="addAuthorizationToProfileResponse">
    <part name="parameters" element="tns:addAuthorizationToProfileResponse"/>
  </message>
  <message name="removeAuthorizationFromProfile">
    <part name="parameters" element="tns:removeAuthorizationFromProfile"/>
  </message>
  <message name="removeAuthorizationFromProfileResponse">
    <part name="parameters" element="tns:removeAuthorizationFromProfileResponse"/>
  </message>

  <!--  credential administration (read/write) -->

  <message name="createCredential">
    <part name="parameters" element="tns:createCredential"/>
  </message>
  <message name="createCredentialResponse">
    <part name="parameters" element="tns:createCredentialResponse"/>
  </message>
  <message name="createPUKCredential">
    <part name="parameters" element="tns:createPUKCredential"/>
  </message>
  <message name="createPUKCredentialResponse">
    <part name="parameters" element="tns:createPUKCredentialResponse"/>
  </message>
  <message name="updateCredential">
    <part name="parameters" element="tns:updateCredential"/>
  </message>
  <message name="updateCredentialResponse">
    <part name="parameters" element="tns:updateCredentialResponse"/>
  </message>
  <message name="resetCredential">
    <part name="parameters" element="tns:resetCredential"/>
  </message>
  <message name="resetCredentialResponse">
    <part name="parameters" element="tns:resetCredentialResponse"/>
  </message>
  <message name="unlockCredential">
    <part name="parameters" element="tns:unlockCredential"/>
  </message>
  <message name="unlockCredentialResponse">
    <part name="parameters" element="tns:unlockCredentialResponse"/>
  </message>
  <message name="deleteCredential">
    <part name="parameters" element="tns:deleteCredential"/>
  </message>
  <message name="deleteCredentialResponse">
    <part name="parameters" element="tns:deleteCredentialResponse"/>
  </message>
  <message name="deleteCredentials">
    <part name="parameters" element="tns:deleteCredentials"/>
  </message>
  <message name="deleteCredentialsResponse">
    <part name="parameters" element="tns:deleteCredentialsResponse"/>
  </message>
  <message name="assignCredential">
    <part name="parameters" element="tns:assignCredential"/>
  </message>
  <message name="assignCredentialResponse">
    <part name="parameters" element="tns:assignCredentialResponse"/>
  </message>
  <message name="unassignCredential">
    <part name="parameters" element="tns:unassignCredential"/>
  </message>
  <message name="unassignCredentialResponse">
    <part name="parameters" element="tns:unassignCredentialResponse"/>
  </message>
  <message name="createMobileSignature"> <!-- deprecated -->
    <part name="parameters" element="tns:createMobileSignature"/>
  </message>
  <message name="createMobileSignatureResponse"> <!-- deprecated -->
    <part name="parameters" element="tns:createMobileSignatureResponse"/>
  </message>
  <message name="updateMobileSignature"> <!-- deprecated -->
    <part name="parameters" element="tns:updateMobileSignature"/>
  </message>
  <message name="updateMobileSignatureResponse"> <!-- deprecated -->
    <part name="parameters" element="tns:updateMobileSignatureResponse"/>
  </message>
  <message name="shareOATH">
  	<part name="parameters" element="tns:shareOATH"/>
  </message>
  <message name="shareOATHResponse">
  	<part name="parameters" element="tns:shareOATHResponse"/>
  </message>

  <!--  unit administration (read/write) -->

  <message name="createUnit">
    <part name="parameters" element="tns:createUnit"/>
  </message>
  <message name="createUnitResponse">
    <part name="parameters" element="tns:createUnitResponse"/>
  </message>
  <message name="updateUnit">
    <part name="parameters" element="tns:updateUnit"/>
  </message>
  <message name="updateUnitResponse">
    <part name="parameters" element="tns:updateUnitResponse"/>
  </message>
  <message name="deleteUnit">
    <part name="parameters" element="tns:deleteUnit"/>
  </message>
  <message name="deleteUnitResponse">
    <part name="parameters" element="tns:deleteUnitResponse"/>
  </message>

  <!-- application administration (read/write) -->

  <message name="createApplication">
    <part name="parameters" element="tns:createApplication"/>
  </message>
  <message name="createApplicationResponse">
    <part name="parameters" element="tns:createApplicationResponse"/>
  </message>
  <message name="updateApplication">
    <part name="parameters" element="tns:updateApplication"/>
  </message>
  <message name="updateApplicationResponse">
    <part name="parameters" element="tns:updateApplicationResponse"/>
  </message>
  <message name="deleteApplication">
    <part name="parameters" element="tns:deleteApplication"/>
  </message>
  <message name="deleteApplicationResponse">
    <part name="parameters" element="tns:deleteApplicationResponse"/>
  </message>
  <message name="addRoleToApplication">
    <part name="parameters" element="tns:addRoleToApplication"/>
  </message>
  <message name="addRoleToApplicationResponse">
    <part name="parameters" element="tns:addRoleToApplicationResponse"/>
  </message>
  <message name="removeRoleFromApplication">
    <part name="parameters" element="tns:removeRoleFromApplication"/>
  </message>
  <message name="removeRoleFromApplicationResponse">
    <part name="parameters" element="tns:removeRoleFromApplicationResponse"/>
  </message>

  <!-- policy administration (read/write) -->

  <message name="assignPolicies">
  	<part name="parameters" element="tns:assignPolicies" />
  </message>
  <message name="assignPoliciesResponse">
  	<part name="parameters" element="tns:assignPoliciesResponse" />
  </message>
  <message name="revokePolicies">
  	<part name="parameters" element="tns:revokePolicies" />
  </message>
  <message name="revokePoliciesResponse">
  	<part name="parameters" element="tns:revokePoliciesResponse" />
  </message>

  <!-- client administration (create, update)  -->
  <message name="createClient">
    <part name="parameters" element="tns:createClient"/>
  </message>
  <message name="createClientResponse">
    <part name="parameters" element="tns:createClientResponse"/>
  </message>
  <message name="updateClient">
    <part name="parameters" element="tns:updateClient"/>
  </message>
  <message name="updateClientResponse">
    <part name="parameters" element="tns:updateClientResponse"/>
  </message>

  <!-- policy administration (create, update)  -->
  <message name="createPolicy">
    <part name="parameters" element="tns:createPolicy"/>
  </message>
  <message name="createPolicyResponse">
    <part name="parameters" element="tns:createPolicyResponse"/>
  </message>
  <message name="updatePolicy">
    <part name="parameters" element="tns:updatePolicy"/>
  </message>
  <message name="updatePolicyResponse">
    <part name="parameters" element="tns:updatePolicyResponse"/>
  </message>
  <message name="deletePolicy">
    <part name="parameters" element="tns:deletePolicy"/>
  </message>
  <message name="deletePolicyResponse">
    <part name="parameters" element="tns:deletePolicyResponse"/>
  </message>

  <!-- template administration (create, update)  -->
  <message name="createTemplate">
    <part name="parameters" element="tns:createTemplate"/>
  </message>
  <message name="createTemplateResponse">
    <part name="parameters" element="tns:createTemplateResponse"/>
  </message>
  <message name="updateTemplate">
    <part name="parameters" element="tns:updateTemplate"/>
  </message>
  <message name="updateTemplateResponse">
    <part name="parameters" element="tns:updateTemplateResponse"/>
  </message>
  <message name="deleteTemplate">
    <part name="parameters" element="tns:deleteTemplate"/>
  </message>
  <message name="deleteTemplateResponse">
    <part name="parameters" element="tns:deleteTemplateResponse"/>
  </message>

  <!--  enterprise role administration (read/write) -->
  <message name="createEnterpriseRole">
    <part name="parameters" element="tns:createEnterpriseRole"/>
  </message>
  <message name="createEnterpriseRoleResponse">
    <part name="parameters" element="tns:createEnterpriseRoleResponse"/>
  </message>
  <message name="updateEnterpriseRole">
    <part name="parameters" element="tns:updateEnterpriseRole"/>
  </message>
  <message name="updateEnterpriseRoleResponse">
    <part name="parameters" element="tns:updateEnterpriseRoleResponse"/>
  </message>
  <message name="deleteEnterpriseRole">
    <part name="parameters" element="tns:deleteEnterpriseRole"/>
  </message>
  <message name="deleteEnterpriseRoleResponse">
    <part name="parameters" element="tns:deleteEnterpriseRoleResponse"/>
  </message>
  <message name="assignRolesToEnterpriseRole">
    <part name="parameters" element="tns:assignRolesToEnterpriseRole"/>
  </message>
  <message name="assignRolesToEnterpriseRoleResponse">
    <part name="parameters" element="tns:assignRolesToEnterpriseRoleResponse"/>
  </message>
  <message name="unassignRolesFromEnterpriseRole">
    <part name="parameters" element="tns:unassignRolesFromEnterpriseRole"/>
  </message>
  <message name="unassignRolesFromEnterpriseRoleResponse">
    <part name="parameters" element="tns:unassignRolesFromEnterpriseRoleResponse"/>
  </message>
  <message name="addEnterpriseRoleToProfile">
    <part name="parameters" element="tns:addEnterpriseRoleToProfile"/>
  </message>
  <message name="addEnterpriseRoleToProfileResponse">
    <part name="parameters" element="tns:addEnterpriseRoleToProfileResponse"/>
  </message>
  <message name="removeEnterpriseRoleFromProfile">
    <part name="parameters" element="tns:removeEnterpriseRoleFromProfile"/>
  </message>
  <message name="removeEnterpriseRoleFromProfileResponse">
    <part name="parameters" element="tns:removeEnterpriseRoleFromProfileResponse"/>
  </message>
   <message name="revealSecurityQuestions">
    <part name="parameters" element="tns:revealSecurityQuestions"/>
  </message>
  <message name="revealSecurityQuestionsResponse">
    <part name="parameters" element="tns:revealSecurityQuestionsResponse"/>
  </message>

  <!-- Personal question  -->
  <message name="createPersonalQuestion">
    <part name="parameters" element="tns:createPersonalQuestion"/>
  </message>
  <message name="createPersonalQuestionResponse">
    <part name="parameters" element="tns:createPersonalQuestionResponse"/>
  </message>
  <message name="updatePersonalQuestion">
    <part name="parameters" element="tns:updatePersonalQuestion"/>
  </message>
  <message name="updatePersonalQuestionResponse">
    <part name="parameters" element="tns:updatePersonalQuestionResponse"/>
  </message>
  <message name="deletePersonalQuestion">
    <part name="parameters" element="tns:deletePersonalQuestion"/>
  </message>
  <message name="deletePersonalQuestionResponse">
    <part name="parameters" element="tns:deletePersonalQuestionResponse"/>
  </message>

  <!-- querying (read-only) -->

  <message name="queryClients">
    <part name="parameters" element="tns:queryClients"/>
  </message>
  <message name="queryClientsResponse">
    <part name="parameters" element="tns:queryClientsResponse"/>
  </message>
  <message name="queryCredentials">
    <part name="parameters" element="tns:queryCredentials"/>
  </message>
  <message name="queryCredentialsResponse">
    <part name="parameters" element="tns:queryCredentialsResponse"/>
  </message>
  <message name="queryUsers">
    <part name="parameters" element="tns:queryUsers"/>
  </message>
  <message name="queryUsersResponse">
    <part name="parameters" element="tns:queryUsersResponse"/>
  </message>
  <message name="getUsersByLoginId">
    <part name="parameters" element="tns:getUsersByLoginId"/>
  </message>
  <message name="getUsersByLoginIdResponse">
    <part name="parameters" element="tns:getUsersByLoginIdResponse"/>
  </message>
  <message name="getUsersByExtId">
    <part name="parameters" element="tns:getUsersByExtId"/>
  </message>
  <message name="getUsersByExtIdResponse">
    <part name="parameters" element="tns:getUsersByExtIdResponse"/>
  </message>
  <message name="getUsersByProfileExtId">
    <part name="parameters" element="tns:getUsersByProfileExtId"/>
  </message>
  <message name="getUsersByProfileExtIdResponse">
    <part name="parameters" element="tns:getUsersByProfileExtIdResponse"/>
  </message>
  <message name="queryProfiles">
    <part name="parameters" element="tns:queryProfiles"/>
  </message>
  <message name="queryProfilesResponse">
    <part name="parameters" element="tns:queryProfilesResponse"/>
  </message>
  <message name="queryUnits">
    <part name="parameters" element="tns:queryUnits"/>
  </message>
  <message name="queryUnitsResponse">
    <part name="parameters" element="tns:queryUnitsResponse"/>
  </message>
  <message name="queryRoles">
    <part name="parameters" element="tns:queryRoles"/>
  </message>
  <message name="queryRolesResponse">
    <part name="parameters" element="tns:queryRolesResponse"/>
  </message>
  <message name="queryApplications">
    <part name="parameters" element="tns:queryApplications"/>
  </message>
  <message name="queryApplicationsResponse">
    <part name="parameters" element="tns:queryApplicationsResponse"/>
  </message>
  <message name="queryProperties">
    <part name="parameters" element="tns:queryProperties"/>
  </message>
  <message name="queryPropertiesResponse">
    <part name="parameters" element="tns:queryPropertiesResponse"/>
  </message>
  <message name="queryUnitsAndFilter"> <!-- deprecated -->
  	<part name="parameters" element="tns:queryUnitsAndFilter"></part>
  </message>
  <message name="queryUnitsAndFilterResponse"> <!-- deprecated -->
  	<part name="parameters" element="tns:queryUnitsAndFilterResponse"></part>
  </message>
  <message name="queryPolicies">
  	<part name="parameters" element="tns:queryPolicies" />
  </message>
  <message name="queryPoliciesResponse">
  	<part name="parameters" element="tns:queryPoliciesResponse" />
  </message>
  <message name="getUnits">
    <part name="parameters" element="tns:getUnits"/>
  </message>
  <message name="getUnitsResponse">
    <part name="parameters" element="tns:getUnitsResponse"/>
  </message>
  <message name="queryTemplates">
    <part name="parameters" element="tns:queryTemplates"/>
  </message>
  <message name="queryTemplatesResponse">
    <part name="parameters" element="tns:queryTemplatesResponse"/>
  </message>
  <message name="queryEnterpriseRoles">
    <part name="parameters" element="tns:queryEnterpriseRoles"/>
  </message>
  <message name="queryEnterpriseRolesResponse">
    <part name="parameters" element="tns:queryEnterpriseRolesResponse"/>
  </message>
  <message name="getEnterpriseRoles">
    <part name="parameters" element="tns:getEnterpriseRoles"/>
  </message>
  <message name="getEnterpriseRolesResponse">
    <part name="parameters" element="tns:getEnterpriseRolesResponse"/>
  </message>
  <message name="queryPersonalQuestions">
    <part name="parameters" element="tns:queryPersonalQuestions"/>
  </message>
  <message name="queryPersonalQuestionsResponse">
    <part name="parameters" element="tns:queryPersonalQuestionsResponse"/>
  </message>
  <message name="getPersonalQuestions">
    <part name="parameters" element="tns:getPersonalQuestions"/>
  </message>
  <message name="getPersonalQuestionsResponse">
    <part name="parameters" element="tns:getPersonalQuestionsResponse"/>
  </message>
   <message name="queryApplicationClientAssignments">
    <part name="parameters" element="tns:queryApplicationClientAssignments"/>
  </message>
  <message name="queryApplicationClientAssignmentsResponse">
    <part name="parameters" element="tns:queryApplicationClientAssignmentsResponse"/>
  </message>


  <!-- bulk operations -->

  <message name="bulkGetAllUsers">
    <part name="params" element="tns:bulkGetAllUsersRequestMessage"/>
  </message>
  <message name="bulkGetAllUsersResponse">
    <part name="params" element="tns:bulkGetAllUsersResponseMessage"/>
  </message>

  <!-- document operations (read-only) -->

  <message name="getDocumentForCredential">
  	<part name="parameters" element="tns:getDocumentForCredential"/>
  </message>
  <message name="getDocumentForCredentialResponse">
  	<part name="parameters" element="tns:getDocomentForCredentialResponse"/>
  </message>

  <!-- Communication operations -->

  <message name="sendUserNotification">
    <part name="parameters" element="tns:sendUserNotification"/>
  </message>
  <message name="sendUserNotificationResponse">
    <part name="parameters" element="tns:sendUserNotificationResponse"/>
  </message>

  <!-- History queries -->

  <message name="getHistoryOfUser">
  	<part name="parameters" element="tns:getHistoryOfUser"/>
  </message>
  <message name="getHistoryOfUserResponse">
  	<part name="parameters" element="tns:getHistoryOfUserResponse"/>
  </message>

  <message name="getHistoryOfUserLoginInfo">
  	<part name="parameters" element="tns:getHistoryOfUserLoginInfo"/>
  </message>
  <message name="getHistoryOfUserLoginInfoResponse">
  	<part name="parameters" element="tns:getHistoryOfUserLoginInfoResponse"/>
  </message>

  <message name="getHistoryOfProfile">
  	<part name="parameters" element="tns:getHistoryOfProfile"/>
  </message>
  <message name="getHistoryOfProfileResponse">
  	<part name="parameters" element="tns:getHistoryOfProfileResponse"/>
  </message>

  <message name="getHistoryOfCredential">
  	<part name="parameters" element="tns:getHistoryOfCredential"/>
  </message>
  <message name="getHistoryOfCredentialResponse">
  	<part name="parameters" element="tns:getHistoryOfCredentialResponse"/>
  </message>

  <message name="getHistoryOfCredentialLoginInfo">
  	<part name="parameters" element="tns:getHistoryOfCredentialLoginInfo"/>
  </message>
  <message name="getHistoryOfCredentialLoginInfoResponse">
  	<part name="parameters" element="tns:getHistoryOfCredentialLoginInfoResponse"/>
  </message>

  <message name="getHistoryOfUnit">
  	<part name="parameters" element="tns:getHistoryOfUnit"/>
  </message>
  <message name="getHistoryOfUnitResponse">
  	<part name="parameters" element="tns:getHistoryOfUnitResponse"/>
  </message>

  <message name="getHistoryOfRole">
  	<part name="parameters" element="tns:getHistoryOfRole"/>
  </message>
  <message name="getHistoryOfRoleResponse">
  	<part name="parameters" element="tns:getHistoryOfRoleResponse"/>
  </message>

  <message name="getHistoryOfEnterpriseRole">
  	<part name="parameters" element="tns:getHistoryOfEnterpriseRole"/>
  </message>
  <message name="getHistoryOfEnterpriseRoleResponse">
  	<part name="parameters" element="tns:getHistoryOfEnterpriseRoleResponse"/>
  </message>

  <message name="getHistoryOfApplication">
  	<part name="parameters" element="tns:getHistoryOfApplication"/>
  </message>
  <message name="getHistoryOfApplicationResponse">
  	<part name="parameters" element="tns:getHistoryOfApplicationResponse"/>
  </message>

  <message name="getHistoryOfClient">
  	<part name="parameters" element="tns:getHistoryOfClient"/>
  </message>
  <message name="getHistoryOfClientResponse">
  	<part name="parameters" element="tns:getHistoryOfClientResponse"/>
  </message>

  <message name="getHistoryOfAuthorization">
  	<part name="parameters" element="tns:getHistoryOfAuthorization"/>
  </message>
  <message name="getHistoryOfAuthorizationResponse">
  	<part name="parameters" element="tns:getHistoryOfAuthorizationResponse"/>
  </message>

  <message name="checkPasswordPolicy">
    <part name="parameters" element="tns:checkPasswordPolicy"/>
  </message>
  <message name="checkPasswordPolicyResponse">
    <part name="parameters" element="tns:checkPasswordPolicyResponse"/>
  </message>

	<message name="addAuthorizationsToProfiles">
		<part name="parameters" element="tns:addAuthorizationsToProfiles" />
	</message>
	<message name="addAuthorizationsToProfilesResponse">
		<part name="parameters" element="tns:addAuthorizationsToProfilesResponse" />
	</message>

	<message name="removeAuthorizationsFromProfiles">
		<part name="parameters" element="tns:removeAuthorizationsFromProfiles" />
	</message>
	<message name="removeAuthorizationsFromProfilesResponse">
		<part name="parameters" element="tns:removeAuthorizationsFromProfilesResponse" />
	</message>

	<message name="updateDataroomOfAuthorization">
		<part name="parameters" element="tns:updateDataroomOfAuthorization" />
	</message>
	<message name="updateDataroomOfAuthorizationResponse">
		<part name="parameters" element="tns:updateDataroomOfAuthorizationResponse" />
	</message>

  <message name="getAuthorizers">
    <part name="parameters" element="tns:getAuthorizers"/>
  </message>
  <message name="getAuthorizersResponse">
    <part name="parameters" element="tns:getAuthorizersResponse"/>
  </message>

  <!-- port definition -->

  <portType name="AdminService">
    <operation name="createUser">
      <input message="sns:createUser"/>
      <output message="sns:createUserResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="createUserWithProfile">
      <input message="sns:createUserWithProfile"/>
      <output message="sns:createUserWithProfileResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="createUserWithCredentials">
      <input message="sns:createUserWithCredentials"/>
      <output message="sns:createUserWithCredentialsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="createUserWithProfileAndCredentials">
      <input message="sns:createUserWithProfileAndCredentials"/>
      <output message="sns:createUserWithProfileAndCredentialsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="updateUser">
      <input message="sns:updateUser"/>
      <output message="sns:updateUserResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="deleteUser">
      <input message="sns:deleteUser"/>
      <output message="sns:deleteUserResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="createProfile">
      <input message="sns:createProfile"/>
      <output message="sns:createProfileResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="updateProfile">
      <input message="sns:updateProfile"/>
      <output message="sns:updateProfileResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="deleteProfile">
      <input message="sns:deleteProfile"/>
      <output message="sns:deleteProfileResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="addAuthorizationToProfile">
      <input message="sns:addAuthorizationToProfile"/>
      <output message="sns:addAuthorizationToProfileResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="removeAuthorizationFromProfile">
      <input message="sns:removeAuthorizationFromProfile"/>
      <output message="sns:removeAuthorizationFromProfileResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="createCredential">
      <input message="sns:createCredential"/>
      <output message="sns:createCredentialResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="createPUKCredential">
      <input message="sns:createPUKCredential"/>
      <output message="sns:createPUKCredentialResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="updateCredential">
      <input message="sns:updateCredential"/>
      <output message="sns:updateCredentialResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="resetCredential">
      <input message="sns:resetCredential"/>
      <output message="sns:resetCredentialResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="unlockCredential">
      <input message="sns:unlockCredential"/>
      <output message="sns:unlockCredentialResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="deleteCredential">
      <input message="sns:deleteCredential"/>
      <output message="sns:deleteCredentialResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="deleteCredentials">
      <input message="sns:deleteCredentials"/>
      <output message="sns:deleteCredentialsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
        <operation name="assignCredential">
      <input message="sns:assignCredential"/>
      <output message="sns:assignCredentialResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="unassignCredential">
      <input message="sns:unassignCredential"/>
      <output message="sns:unassignCredentialResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="createMobileSignature">
      <input message="sns:createMobileSignature"/>
      <output message="sns:createMobileSignatureResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="updateMobileSignature">
      <input message="sns:updateMobileSignature"/>
      <output message="sns:updateMobileSignatureResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
     <operation name="shareOATH">
      <input message="sns:shareOATH"/>
      <output message="sns:shareOATHResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="createUnit">
      <input message="sns:createUnit"/>
      <output message="sns:createUnitResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="updateUnit">
      <input message="sns:updateUnit"/>
      <output message="sns:updateUnitResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="deleteUnit">
      <input message="sns:deleteUnit"/>
      <output message="sns:deleteUnitResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="createApplication">
      <input message="sns:createApplication"/>
      <output message="sns:createApplicationResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="updateApplication">
      <input message="sns:updateApplication"/>
      <output message="sns:updateApplicationResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="deleteApplication">
      <input message="sns:deleteApplication"/>
      <output message="sns:deleteApplicationResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="addRoleToApplication">
      <input message="sns:addRoleToApplication"/>
      <output message="sns:addRoleToApplicationResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="removeRoleFromApplication">
      <input message="sns:removeRoleFromApplication"/>
      <output message="sns:removeRoleFromApplicationResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="assignPolicies">
    	<input message="sns:assignPolicies" />
    	<output message="sns:assignPoliciesResponse" />
		<fault message="sns:BusinessException" name="BusinessException"/>
		<fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="revokePolicies">
    	<input message="sns:revokePolicies" />
    	<output message="sns:revokePoliciesResponse" />
		<fault message="sns:BusinessException" name="BusinessException"/>
		<fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

  	<operation name="createClient">
      <input message="sns:createClient"/>
      <output message="sns:createClientResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="updateClient">
      <input message="sns:updateClient"/>
      <output message="sns:updateClientResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="createPolicy">
      <input message="sns:createPolicy"/>
      <output message="sns:createPolicyResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="updatePolicy">
      <input message="sns:updatePolicy"/>
      <output message="sns:updatePolicyResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
     <operation name="deletePolicy">
      <input message="sns:deletePolicy"/>
      <output message="sns:deletePolicyResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="createTemplate">
      <input message="sns:createTemplate"/>
      <output message="sns:createTemplateResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="updateTemplate">
      <input message="sns:updateTemplate"/>
      <output message="sns:updateTemplateResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
     <operation name="deleteTemplate">
      <input message="sns:deleteTemplate"/>
      <output message="sns:deleteTemplateResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="createEnterpriseRole">
      <input message="sns:createEnterpriseRole"/>
      <output message="sns:createEnterpriseRoleResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
     <operation name="updateEnterpriseRole">
      <input message="sns:updateEnterpriseRole"/>
      <output message="sns:updateEnterpriseRoleResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="deleteEnterpriseRole">
      <input message="sns:deleteEnterpriseRole"/>
      <output message="sns:deleteEnterpriseRoleResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="assignRolesToEnterpriseRole">
      <input message="sns:assignRolesToEnterpriseRole"/>
      <output message="sns:assignRolesToEnterpriseRoleResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="unassignRolesFromEnterpriseRole">
      <input message="sns:unassignRolesFromEnterpriseRole"/>
      <output message="sns:unassignRolesFromEnterpriseRoleResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="addEnterpriseRoleToProfile">
      <input message="sns:addEnterpriseRoleToProfile"/>
      <output message="sns:addEnterpriseRoleToProfileResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="removeEnterpriseRoleFromProfile">
      <input message="sns:removeEnterpriseRoleFromProfile"/>
      <output message="sns:removeEnterpriseRoleFromProfileResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="revealSecurityQuestions">
      <input message="sns:revealSecurityQuestions"/>
      <output message="sns:revealSecurityQuestionsResponse"/>
	  <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="createPersonalQuestion">
      <input message="sns:createPersonalQuestion"/>
      <output message="sns:createPersonalQuestionResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
     <operation name="updatePersonalQuestion">
      <input message="sns:updatePersonalQuestion"/>
      <output message="sns:updatePersonalQuestionResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="deletePersonalQuestion">
      <input message="sns:deletePersonalQuestion"/>
      <output message="sns:deletePersonalQuestionResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="queryClients">
      <input message="sns:queryClients"/>
      <output message="sns:queryClientsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryCredentials">
      <input message="sns:queryCredentials"></input>
      <output message="sns:queryCredentialsResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryUsers">
      <input message="sns:queryUsers"/>
      <output message="sns:queryUsersResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="getUsersByLoginId">
      <input message="sns:getUsersByLoginId"/>
      <output message="sns:getUsersByLoginIdResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="getUsersByExtId">
      <input message="sns:getUsersByExtId"/>
      <output message="sns:getUsersByExtIdResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="getUsersByProfileExtId">
      <input message="sns:getUsersByProfileExtId"/>
      <output message="sns:getUsersByProfileExtIdResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryProfiles">
      <input message="sns:queryProfiles"/>
      <output message="sns:queryProfilesResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryUnits">
      <input message="sns:queryUnits"/>
      <output message="sns:queryUnitsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="getUnits">
      <input message="sns:getUnits"/>
      <output message="sns:getUnitsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryRoles">
      <input message="sns:queryRoles"/>
      <output message="sns:queryRolesResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryApplications">
      <input message="sns:queryApplications"/>
      <output message="sns:queryApplicationsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryProperties">
      <input message="sns:queryProperties"/>
      <output message="sns:queryPropertiesResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryUnitsAndFilter">
      <input message="sns:queryUnitsAndFilter"></input>
      <output message="sns:queryUnitsAndFilterResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryPolicies">
    	<input message="sns:queryPolicies" />
		<output message="sns:queryPoliciesResponse" />
		<fault message="sns:BusinessException" name="BusinessException" />
		<fault message="sns:TechnicalException" name="TechnicalException" />
    </operation>
    <operation name="queryEnterpriseRoles">
      <input message="sns:queryEnterpriseRoles"/>
      <output message="sns:queryEnterpriseRolesResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="getEnterpriseRoles">
      <input message="sns:getEnterpriseRoles"/>
      <output message="sns:getEnterpriseRolesResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryPersonalQuestions">
      <input message="sns:queryPersonalQuestions"/>
      <output message="sns:queryPersonalQuestionsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="getPersonalQuestions">
      <input message="sns:getPersonalQuestions"/>
      <output message="sns:getPersonalQuestionsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    <operation name="queryApplicationClientAssignments">
      <input message="sns:queryApplicationClientAssignments"/>
      <output message="sns:queryApplicationClientAssignmentsResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="bulkGetAllUsers">
      <input message="sns:bulkGetAllUsers"></input>
      <output message="sns:bulkGetAllUsersResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="getDocumentForCredential">
      <input message="sns:getDocumentForCredential"></input>
      <output message="sns:getDocumentForCredentialResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="sendUserNotification">
      <input message="sns:sendUserNotification"/>
      <output message="sns:sendUserNotificationResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

	<operation name="getHistoryOfUser">
      <input message="sns:getHistoryOfUser"></input>
      <output message="sns:getHistoryOfUserResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

	<operation name="getHistoryOfUserLoginInfo">
      <input message="sns:getHistoryOfUserLoginInfo"></input>
      <output message="sns:getHistoryOfUserLoginInfoResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

	<operation name="getHistoryOfProfile">
      <input message="sns:getHistoryOfProfile"></input>
      <output message="sns:getHistoryOfProfileResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

	<operation name="getHistoryOfCredential">
      <input message="sns:getHistoryOfCredential"></input>
      <output message="sns:getHistoryOfCredentialResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

	<operation name="getHistoryOfCredentialLoginInfo">
      <input message="sns:getHistoryOfCredentialLoginInfo"></input>
      <output message="sns:getHistoryOfCredentialLoginInfoResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

	<operation name="getHistoryOfUnit">
      <input message="sns:getHistoryOfUnit"></input>
      <output message="sns:getHistoryOfUnitResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

	<operation name="getHistoryOfRole">
      <input message="sns:getHistoryOfRole"></input>
      <output message="sns:getHistoryOfRoleResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>
    
	<operation name="getHistoryOfEnterpriseRole">
      <input message="sns:getHistoryOfEnterpriseRole"></input>
      <output message="sns:getHistoryOfEnterpriseRoleResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="getHistoryOfApplication">
      <input message="sns:getHistoryOfApplication"></input>
      <output message="sns:getHistoryOfApplicationResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="getHistoryOfClient">
      <input message="sns:getHistoryOfClient"></input>
      <output message="sns:getHistoryOfClientResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="getHistoryOfAuthorization">
      <input message="sns:getHistoryOfAuthorization"></input>
      <output message="sns:getHistoryOfAuthorizationResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="queryTemplates">
      <input message="sns:queryTemplates"/>
      <output message="sns:queryTemplatesResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

    <operation name="checkPasswordPolicy">
      <input message="sns:checkPasswordPolicy"/>
      <output message="sns:checkPasswordPolicyResponse"/>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

	<operation name="addAuthorizationsToProfiles">
		<input message="sns:addAuthorizationsToProfiles" />
		<output message="sns:addAuthorizationsToProfilesResponse" />

		<fault name="BusinessException" message="sns:BusinessException" />
		<fault name="TechnicalException" message="sns:TechnicalException" />
	</operation>

	<operation name="removeAuthorizationsFromProfiles">
		<input message="sns:removeAuthorizationsFromProfiles" />
		<output message="sns:removeAuthorizationsFromProfilesResponse" />

		<fault name="BusinessException" message="sns:BusinessException" />
		<fault name="TechnicalException" message="sns:TechnicalException" />
	</operation>

	<operation name="updateDataroomOfAuthorization">
		<input message="sns:updateDataroomOfAuthorization" />
		<output message="sns:updateDataroomOfAuthorizationResponse" />

		<fault name="BusinessException" message="sns:BusinessException" />
		<fault name="TechnicalException" message="sns:TechnicalException" />
	</operation>

	<operation name="getAuthorizers">
      <input message="sns:getAuthorizers"></input>
      <output message="sns:getAuthorizersResponse"></output>
      <fault message="sns:BusinessException" name="BusinessException"/>
      <fault message="sns:TechnicalException" name="TechnicalException"/>
    </operation>

  </portType>

  <binding name="AdminServicePortBinding" type="sns:AdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

    <!-- read-write operations -->

    <operation name="createUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createUserWithProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createUserWithCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createUserWithProfileAndCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updateUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deleteUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updateProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deleteProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="addAuthorizationToProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="removeAuthorizationFromProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createPUKCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updateCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="resetCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="unlockCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deleteCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deleteCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="assignCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="unassignCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createMobileSignature">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updateMobileSignature">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="shareOATH">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createUnit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updateUnit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deleteUnit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createApplication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updateApplication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deleteApplication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="addRoleToApplication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="removeRoleFromApplication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="assignPolicies">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

	<operation name="revokePolicies">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updateClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createPolicy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updatePolicy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deletePolicy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createTemplate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updateTemplate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deleteTemplate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createEnterpriseRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updateEnterpriseRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deleteEnterpriseRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="assignRolesToEnterpriseRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="unassignRolesFromEnterpriseRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="addEnterpriseRoleToProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="removeEnterpriseRoleFromProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="createPersonalQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="updatePersonalQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="deletePersonalQuestion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="revealSecurityQuestions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <!-- read-only operations -->

    <operation name="queryClients">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUsersByLoginId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUsersByExtId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUsersByProfileExtId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryProfiles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryUnits">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryUnitsAndFilter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUnits">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryApplications">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryProperties">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryPolicies">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryTemplates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    <operation name="queryEnterpriseRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getEnterpriseRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="queryPersonalQuestions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getPersonalQuestions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="queryApplicationClientAssignments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="bulkGetAllUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <!-- document operations (read-only) -->

    <operation name="getDocumentForCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="sendUserNotification">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfUserLoginInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfCredential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfCredentialLoginInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfUnit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>
    
    <operation name="getHistoryOfEnterpriseRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfApplication">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="getHistoryOfAuthorization">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

    <operation name="checkPasswordPolicy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

		<operation name="addAuthorizationsToProfiles">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="BusinessException">
				<soap:fault name="BusinessException" use="literal" />
			</fault>
			<fault name="TechnicalException">
				<soap:fault name="TechnicalException" use="literal" />
			</fault>
		</operation>

		<operation name="removeAuthorizationsFromProfiles">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="BusinessException">
				<soap:fault name="BusinessException" use="literal" />
			</fault>
			<fault name="TechnicalException">
				<soap:fault name="TechnicalException" use="literal" />
			</fault>
		</operation>

		<operation name="updateDataroomOfAuthorization">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="BusinessException">
				<soap:fault name="BusinessException" use="literal" />
			</fault>
			<fault name="TechnicalException">
				<soap:fault name="TechnicalException" use="literal" />
			</fault>
		</operation>

    <operation name="getAuthorizers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
      <fault name="TechnicalException">
        <soap:fault name="TechnicalException" use="literal"/>
      </fault>
    </operation>

  </binding>

  <service name="AdminService_v1_43">
    <port name="AdminServicePort" binding="sns:AdminServicePortBinding">
      <soap:address location="http://REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>

</definitions>
